#receta-aleatoria {
margin-left: 5%;
}

body .instrucciones {
color: rgb(59, 59, 59);
font-size: 70%;
overflow-y: scroll;
max-height: 200px;
}

#buscar-btn {
    background-color: #007bff; /* Cambia el color de fondo del botón */
    color: #fff; /* Cambia el color del texto del botón */
    border: none; /* Elimina el borde del botón */
    padding: 10px 20px; /* Ajusta el espaciado interno del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */

  }
  
  #buscar-btn:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor */
    
  }

  body .buscador-container {
    margin: 5%;
    }

    .clase-receta-aleatoria {
      background-color: rgb(243, 243, 243);
      border-radius: 10px; /* Aumenté el radio del borde para hacerlo más redondeado */
      padding: 20px; /* Añadí espacio interno al contenedor de la receta aleatoria */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añadí una sombra sutil */
    }

    body .barra-arriba {
        height: 20PX;
        background-color: black;

    }

    body .barra-abajo {
        height: 20PX;
        background-color: black;

    }

    /* Estilo general para el cuerpo del sitio */
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
    }
    
  
  /* Estilo para el contenido principal (ajusta según sea necesario) */
  main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo para el footer */
  .barra-abajo {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  